**/.DS_Store
**/__pycache__/
*.bsf
*.cdf
*.cmp
*.csv
*.ddb
*.done
*.f
*.jdi
*.orig
*.pin
*.ppf
*.py[cod]
*.qdf
*.qws
*.rej
*.rpt
*.sip
*.smsg
*.sof
*.sopcinfo
*.spd
*.srf
*.summary
*.vcxproj.user
*.xml
*_netlist
*_sim
*~
.qsys_edit
.vs/
.vscode/

# (default name) pull builds out if you need them before clean.bat
dse/

build_id.v
c5_pin_model_dump.txt
db/
docs/rca-technical/
dse*.log
greybox_tmp
hc_output
hps_isw_handoff
imgui.ini
incremental_db/
out/

# (default name) pull builds out if you need them before clean.bat
output_files/

PLLJ_PLLSPE_INFO.txt
refs/

# intentionally leaving out of MiSTer-devel
rom/

refvideo/
scaler/
simulation/

# intentionally leaving out of MiSTer-devel
software/

# intentionally leaving out of MiSTer-devel
tools/mame-roms/

tools/mame-work/
tools/refemu/*.o
tools/refemu/out/
tools/refemu/studio2
tools/refemu/studio2.exe
tools/refemu/studio2_headless
tools/refemu/studio2_headless.exe
verilator/.vs/sim/v17/Browse.VC.db
verilator/.vs/sim/v17/ipch/AutoPCH/181b54f0b0efa9df/SIM_MAIN.ipch
verilator/bin/
verilator/boot.rom
verilator/obj_dir/
verilator/obj_dir_headless/
verilator/out/
verilator/sim.vcd
verilator/spacewar.bin
verilator/x64/Debug/
vip
